.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.Do_A {
  text-align: center;
  display: inline-block;
}


button1 {
  font-size: 18vw;
  font-family: 'PT Sans Narrow';
  background-color: none;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }


button1:hover {background-color: none;
color: green;}

body {
background-color: black;
}

h1 {
  margin: 30px;
  font-family: 'PT Sans Narrow';
  text-shadow: 5px 0 #232931;
  font-size: 15vw;
  color: black;
}

p {
  font-size: 12vw;
  color: white;
  font-family: 'Arial', cursive;
}

/* img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;

} */

footer {
  margin-top: 5%;
  color: grey;
  text-align: center;
  font-family: 'Arial', cursive;

}
